---
layout: base
title: Paper index
permalink: /courses/
---
<header class="page header">
  <h2 class="page-title">{{ page.title }}</h2>
</header>

<section class="courses">

  <ul class="course-list">
    {% for collection in site.collections %}
    {% capture label %}{{ collection | first }}{% endcapture %}
      <li class="course">
        <div class="course-title">
          <h3>
            <a class="papers-link" href="{{ collection[0] }}">{{ label | capitalize }}</a>
          </h3>
        </div>
        {% if site.collections.[label].abstract %}
        <div class="course-abstract">
          <p class="abstract">{{ site.collections.[label].abstract | truncatewords:90 | markdownify }}</p>
        </div>
        {% endif %}
      </li>
    {% endfor %}
  </ul>

</section>