---
layout: default
---

<div class="home">

  <div class="hero">
    <div class="hero-inner">
      <div class="hero-copy">
        <h2>Foobar barfoo</h2>
        {% if site.description %}
        <p>{{ site.description }}</p>
        {% endif %}
      </div>
      <button>button</button>
    </div>
  </div>

  <section>
    <h1 class="page-heading">Posts</h1>

    <ul class="post-list">
      {% for post in site.posts %}
        <li>
          <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

          <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          </h2>
        </li>
      {% endfor %}
    </ul>
  </section>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
