---
layout: base
---

<div class="home">

  <section class="content introduction">

    <p class="home-intro hello">
      Welcome to the website of <strong>Carleton B. Christensen</strong>.
    </p>
    <p class="home-intro">I am a philosopher in the School of Philosophy at the Australian National University.</p>
    <p class="home-intro">I have written a number of <strong><a href="/papers">papers</a></strong> on different topics, not all of them strictly or mainstream philosophical. But I would like to make them widely accessible, for which reason I have posted them to this site.</p>
    <p class="home-intro">
      I have also provided some of the <strong><a href="/courses">course materials</a></strong> I have used for teaching in different courses at different universities.
    </p>
    <p class="home-intro">
      I specialise in German philosophy, particularly <strong>Husserl</strong> and <strong>Heidegger</strong>, as well as the <strong>philosophy of technology</strong> <span class="amp">&amp;</span> <strong>sustainability</strong>. But I also have a background in analytical philosophy, Descartes, Kant, Marx and Critical Theory.
    </p>
    <p class="home-intro about-me">
      See the <strong><a href="/about">about page</a></strong> for more on me.
    </p>

  <section class="content recent-papers">

    <h2>Recent Papers</h2>

    <div class="cards">
      {% for post in site.categories.papers limit:3 %}
      <a class="papers-link" href="{{ post.url | prepend: site.baseurl }}">

        <div class="card">

          <!-- Uncomment to include images on cards
          <div class="card-image">
            <img src="{% cycle 'https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains.png', 'https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains-2.png', 'https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains-3.png' %}" alt="">
          </div>
          -->

          <div class="card-header">
            <h3>{{ post.title | markdownify }}</h3>
            <span class="papers-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
          </div>
          <div class="card-copy">
            {% if post.abstract %}
            <p>{{ post.abstract | truncatewords:50 | markdownify }}</p>
            {% endif %}
          </div>
      </a>
      </div>
      {% endfor %}
    </div>
  </section>

  <!--
  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
  -->

</div>