<header id="header" class="centered-navigation">
  <div class="centered-navigation-wrapper">
    <a href="/" id="js-centered-navigation-mobile-menu" class="centered-navigation-mobile-menu">HOME</a>
    <nav role="navigation">
      <ul id="js-centered-navigation-menu" class="centered-navigation-menu show">
        <li class="nav-link"><a href="/about">About</a></li>
        <li class="nav-link"><a href="/impressum/">Impressum</a></li>
        <li class="nav-link home">
          <a href="/" class="home-icon">
            <i class="fa fa-home"></i>
          </a>
        </li>
        <li class="nav-link"><a href="/papers">Papers</a></li>
        <li class="nav-link"><a href="/courses">Course materials</a></li>
      </ul>
    </nav>
  </div>
</header>
