.footer {
  ///////////////////////////////////////////////////////////////////////////////////
  $base-spacing: 1.5em !default;
  $base-accent-color: #204a87;
  font-family: $fontface-sans;
  $footer-background: desaturate(darken($base-accent-color, 10%), 30%);
  $footer-color: white;
  $footer-link-color: #e9b96e;
  $footer-site-meta-color: transparentize($footer-color, 0.3);
  text-shadow: rgba(0,0,0,0.4) 1px 1px 2px;
  font-size: 1.2em;

  ul {
    padding: 0;
    margin-left: 1em;
    text-align: center;
  }

  li {
    list-style: none;
    font-weight: 400;
    padding-right: 1em;
    text-align: center;
    &.home {
      padding-bottom: 1.5em;
      a.home-icon {
        font-size: 1.7em;
        color: #90b1df;
        &:focus,
        &:hover {
          color: white;
        }
      }
    }
    &.back-up {
      color: #ccc;
      font-size: 0.875em;
      font-weight: 300;
      padding-left: 0.5em;
      padding-top: 1em;
    }

    a {
      color: $footer-link-color;
        &:focus,
        &:hover {
        color: lighten($footer-link-color, 50%);
      }
    }
  }
  //////////////////////////////////////////////////////////////////////////////////

  border-top: 2px solid darken($footer-background, 4%);
  background: $footer-background;
  padding: $base-spacing;
  width: 100%;
  display: inline-block;

  .footer-links {
    @include clearfix;
    margin-bottom: $base-spacing;
  }

  hr {
    border: 1px solid transparentize($footer-site-meta-color, 0.6);
    margin: 0 auto $base-spacing;
    width: 12em;
  }

  p {
    color: $footer-site-meta-color;
    font-size: 0.9em;
    margin: 0 auto 1em 0;
    text-align: center;
  }
  p.developer {
    font-weight: 300;
    font-size: 0.7em;
    a {
      font-weight: 400;
      &.dev-resource {
        color: #90b1df;
      }
      &.dev {
        color: #90b1df;
      }
      &:active,
      &:hover {
        color: white;
      }
    }
  }
}