@import "bourbon";
@import "base/grid-settings";
@import "neat";
@import "base/base";
@import "font-awesome";

$em-base: 16px;
$fontface-sans: "Source Sans Pro", sans-serif;
$fontface-serif: "EB Garamond", serif;

body {
  ///////////////////////////////////////////////////////////////////////////////////
  @include outer-container;
  text-align: center;
  margin-bottom: 3em;
  }

section article.content {
  text-align: left;
}

@import "header";
@import "footer";
@import "homepage";



