.hero {
  ///////////////////////////////////////////////////////////////////////////////////
  $base-border-radius: 3px !default;
  $base-accent-color: #477DCA !default;
  $large-screen: em(860) !default;
  //////////////////////////////////////////////////////////////////////////////////

  $hero-background-top: lighten(#2e3436, 15%);
  $hero-background-bottom: lighten(#204a87, 35%);
  $hero-color: white;
  $gradient-angle: 5deg;
  font-family: $fontface-sans;

  @include background(linear-gradient($gradient-angle, $hero-background-bottom, $hero-background-top), no-repeat $hero-background-top scroll);
  background-color: #324766;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 1em;
  box-shadow: inset 0px 0px 1px 2px darken(rgba(0,0,0,0.1), 10%);
  border-radius: 2px;

  .hero-inner {
    @include outer-container;
    @include clearfix;
    color: $hero-color;
    margin: auto;
    padding: 4em 1em 3em 1em;
    text-align: center;

    .hero-copy {
      text-align: center;

      p {
        color: $hero-color;
        font-family: $fontface-sans;
        font-weight: 200;
        font-size: 1.8em;
        line-height: 1.6;
        text-shadow: rgba(0,0,0,0.6) 1px 1px 3px;
        margin: 0 auto 1em auto;

        @include media($large-screen) {
          font-size: 1.8em;
          max-width: 60%;
        }
      }
    }
  }
}