@media print {
  header#header, footer.footer { display: none; }

  img { max-width: 500px; }

  @page { margin: 2cm 1.5cm 1.5cm 1.5cm; }
  @page :left { margin-left: 2.5cm; }
  @page :right { margin-right: 2.5cm; }
  @page :first { margin-top: 6cm; }

  body {
    font-size: 8pt;
    font-family: $fontface-print;
    background: white;
    color: black;
    border: 0;

  }

  section.content {
    a:not(.footnote) { text-decoration: underline; }

    //a:after {
    //    content: " ("attr(href)") ";
    //  }

    a.reversefootnote,
    a.print-btn {
      visibility: hidden;
    }

    article.post.content h2:not(.post-title):not(.abstract-heading) {
      page-break-before: always;
    }

    // test this to see if it can be removed :>
    ol, ul {
      margin-left: 1cm;
    }
    ul {
      li {
        list-style: square;
      }
    }
    ol {
      li {
        list-style: decimal;
      }
    }
  }
}