///////////////////////////////////////////////////////////////////////////////////
// Site-wide typography
///////////////////////////////////////////////////////////////////////////////////

$base-leading: 1.5;
$paragraph-leading: 1.7;

a {
  text-decoration: none;
  &:focus,
  &:hover {
  }
}

p, ul, ol, dl {
  font-size: 1em; // 17px
  margin-bottom: 1em;
  line-height: $paragraph-leading;
}

h1, h2, h3, h4, h5, h6 {
  text-align: left;
  margin-bottom: 0.5em;
  line-height: $base-leading;
}

.amp {
  font-family: "Palatino Linotype", Palatino, Baskerville, Times, "Times New Roman", Georgia, serif;
  font-style: italic;
  line-height: 1;
  font-weight: 300;
}

section.introduction {
  margin: 8px;
  margin-top: 3em;
  text-align: left;
  p.home-intro.hello {
    font-family: $fontface-sans;
    font-size: 1.8em;
    font-weight: 300;
    color: #222;
  }
  p.home-intro.about-me {
    font-family: $fontface-sans;
    font-size: 1.3em;
    font-weight: 300;
  }
  @include outer-container;
  @include media(min-width $tiny-screen max-width $large-screen, 12) {
  }
  p.home-intro {
    font-family: $fontface-serif;
    font-weight: 400;
    font-size: 1.1em;
    margin-bottom: 0.5em;
    @include media(max-width $tiny-screen) {
      @include span-columns(10);
      @include shift(1);
      font-size: 0.875em;
    }
    @include media(min-width $large-screen, 10) {
      @include span-columns(8);
      @include shift(1);
    }
    strong {
      font-weight: bold;
    }
  }
  p.about-me {
    padding-bottom: 2em;
    border-bottom: 2px dotted #ddd;
  }
}

abbr {
  font-size: 0.875em;
  padding-bottom: 1px;
  border-bottom: dotted 1px #ccc;
}

section.content {
  h1 { font-family: $fontface-serif; }
  h2, h3, h4, h5, h6, dt {
    font-family: $fontface-sans;
  }
  p, li, dd {
    font-family: $fontface-serif;
  }
  p.logic {
    font-family: $fontface-monospace;
    text-align: center;
  }
  blockquote {
    color: #111;
    margin-left: 0.45em;
    padding-left: 0.55em;
  }
  dt {
    font-size: 1.1em;
  }
  dd {
    margin-left: 1em;
  }
  ul {
    li {
      list-style: square;
    }
  }
  ol {
    li {
      list-style: decimal;
    }
  }
}

header.post.header {
  h2.post-title {
    text-align: center;
  }
  p.post-meta {
    margin: 0.75em 0 1em 0;
    padding: 1em 0;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    font-family: $fontface-sans;
    color: #333;
    font-size: 1.1em;

    a.print-btn {
      display: block;
      margin-top: 0.75em;
      font-family: $fontface-monospace;
      color: #666;
      font-size: 0.875em;
    }
  }
}

// in-text footnote styling
article.post.content sup a,
article.page.content sup a,
article.page.content .reversefootnote li p a {
  font-weight: 400;
  font-family: $fontface-sans;
  margin-left: 0.25em;
  margin-right: 0.25em;
  padding: 0.15em 0.4em;
  background-color: lighten(yellow, 40%);
  border-radius: 2px;
  &:focus,
  &:hover {
    color: black;
    box-shadow: 0 0 0.5em #ccc;
  }
}
article.post.content div.abstract {
  margin-top: 2em;
  margin-bottom: 2em;
  padding-bottom: 1.5em;
  border-bottom: 1px solid #ddd;

  p.abstract {
    font-family: $fontface-sans;
    font-size: 1.125em;
  }
}

// bottom of document footnote styling
section.content .footnotes {
  margin-top: 3em;
  padding-top: 1.5em;
  border-top: 2px dotted #ddd;
  font-size: 0.875em;
}

section.content .card-copy {
  font-family: $fontface-sans;
}

// title styling for a page
header.page {
  margin-bottom: 3em;
  h2 {
    text-align: center;
    font-family: $fontface-serif;
  }
}

// title styling for a post
header.post {
  h2 {
    font-family: $fontface-serif;
    line-height: $base-leading;
    //background-color: lighten(#ddd, 10%);
    font-size: 1.9em;
    padding: 0.5em;
    margin-bottom: 0;
    p {
      line-height: inherit;
      margin-bottom: 0;
      padding: 0;
    }
  }
}

section.content hr {
  border-bottom: 1px solid #ddd;
}
