---
layout: base
---

<section class="content>"
  <header class="page header">
    <h2 class="page-title">{{ page.title }}</h2>
    <div class="hero">
      <div class="hero-inner">
        <div class="hero-copy">
          {% for collection in site.collections %}
          {% capture label %}{{ collection | first }}{% endcapture %}
          {% if site.collections.[label].abstract %}
          {{ site.collections.[label].abstract | truncatewords:90 | markdownify }}
          {% endif %}
        </div>
        {% if site.collections.[label].['pdf'] %}
        <a class="course-outline" href="{{ site.baseurl }}{{ site.collections.[label].['pdf'] }}">
          <i class="fa fa-file-o"> PDF course outline</i>
        </a>
        {% endif %}
      </div>
    </div>
  </header>

  <article class="page content">
    {{ content }}
    <ul class="paper-list">
      {% assign doc-listing = site.collections.[label].docs %}
      {% for doc in doc-listing %}
        {% if doc.layout == "post" or doc.layout == "lecture" or doc.layout == "resource" %}
        <li class="paper">
          <div class="paper-title">
            <h3>
              <a class="papers-link" href="{{ doc.url }}">{{ doc.title | markdownify }}</a>
            </h3>
          </div>
          {% if doc.abstract %}
          <div class="paper-abstract">
            <p>{{ doc.abstract | markdownify }}</p>
          </div>
          {% endif %}
        </li>
        {% endif %}
      {% endfor %}
      {% endfor %}
    </ul>
  </section>
  </article>
</section>