---
layout: base
---

<section class="content">
  <header class="post header">
    <h2 class="post-title">{{ page.title | markdownify | remove: '<p>' | remove: '</p>' }}</h2>
    <p class="post-meta">
      {{ page.date | date: "%b %-d, %Y" }}
      {% if page.author %}&emsp;&middot;&emsp;{{ page.author }}{% endif %}
      {% if page.meta %}&emsp;&middot;&emsp;{{ page.meta }}{% endif %}
      <br />
      <a class="print-btn" href="#" onClick="window.print();return false">
        [ <i class="fa fa-file-pdf-o"></i> PDF / print <i class="fa fa-print"></i> ]</a>
    </p>
  </header>

  <article class="post content">
    {% if page.abstract %}
    <div class="abstract">
      <h2 class="abstract-heading">Abstract</h2>
      <p class="abstract">
      {{ page.abstract | markdownify | remove: '<p>' | remove: '</p>' }}
      </p>
    </div>
    {% endif %}
    {{ content }}
  </article>
</section>
